h2 #{book.name}

p #[strong Author:] #{book.author}
br
p #[strong Description:] #{book.description}

div.actions
  form(method='POST', action=`/delete/${book.id}?_method=DELETE`)
    button(
      type='submit',
      hx-delete=`/delete/${book.id}`,
      hx-target='#sidebar',
      hx-push-url='/books'
      class='link'
    ) Delete Book

  a(
    href=`/books/${book.id}/edit`,
    hx-get=`/books/${book.id}/edit`,
    hx-push-url='true',
    hx-target='#content'
  ) Edit Book