- isEditing = () => !(Object.keys(book).length === 0);

h2=isEditing() ? "Edit Book" : "New Book"

form(
  action=isEditing() ? `/update/${book.id}?_method=PUT` : '/books',
  method='POST',

  hx-post=isEditing() ? false : '/books',
  hx-put=isEditing() ? `/update/${book.id}` : false,
  hx-target='#sidebar',
  hx-push-url=isEditing() ? `/books/${book.id}` : false
  hx-on::after-request='if(event.detail.successful) this.reset()',
)
  label(for='name') Book name:
  input#name(type='text', name='name', required, value=book.name)

  label(for='author') Author:
  input#email(type='text', name='author', required, value=book.author)

  label(for='description') Description:
  textarea#description( name='description', required) #{book.description}

  div.actions
    button(type='submit') Submit